youtube-transcript-api
openai
gradio
python-dotenv
re-patterns
requests
uuid
numpy==1.26.4
moviepy==2.2.1
pillow<12.0
whisper-timestamped
openai-whisper
torch==2.5.1
torchaudio==2.5.1
DeepFilterNet
librosa==0.10.1
scipy
numba
dtw-python
